.picture-component {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 700;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  background-size: cover;
  justify-content: flex-end;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--background);
}

.picture-component-feed {
  position: relative;
  min-height: 100%;
  scroll-snap-align: start;
}

.picture-component-animation {
  top: 0;
  left: 0;
  animation: openAnimation linear 0.1s forwards;
}

.picture-component-close {
  animation: closeAnimation linear 0.1s forwards;
}

.picture-component-header {
  height: var(--header-height);
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
}

.picture-component-main {
  display: flex;
  padding: 2% 2% 10% 2%;
}

.picture-component-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture-component-user {
  align-items: center;
  display: flex;
}

.picture-component-pfp {
  min-width: 35px;
  min-height: 35px;
  max-width: 35px;
  max-height: 35px;
  background-color: var(--image-background);
  border-radius: 100%;
  overflow: hidden;
  margin-right: 0.5rem;
}

.picture-component-pfp img {
  min-width: 35px;
  min-height: 35px;
  max-width: 35px;
  max-height: 35px;
}

.picture-component-username {
  max-width: 100%;
  color: #fff;
  font-weight: 900;
  width: auto;
  font-size: 1.3rem;
}

.picture-component-caption {
  color: #fff;
  padding: 1%;
  font-weight: 500;
  margin-top: 2%;
}

.picture-component-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.picture-component-like-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-weight: 500;
}

.picture-component-like-container svg {
  font-size: 3rem;
}

.like-active {
  color: var(--pink);
}

.picture-component-options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
}
.picture-component-options svg {
  font-size: 1.5rem;
  color: #fff;
}

.picture-options-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-background);
  z-index: 890;
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

}

.picture-options-modal:focus {
  outline: none;
}

.picture-options-overlay {
  z-index: 889;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bb;
}

.picture-option {
  color: var(--text-main);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-decoration: underline;
  font-size: 1.2rem;
}


@keyframes openAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes closeAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
