.date-request-page {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 5%;
  flex-direction: column;
}
.date-request-item {
  display: flex;
  padding: 0.5rem 1rem;
  max-width: var(--max-width);
  border-bottom: 1px solid var(--border1);
}

.date-request-item-sent {
  display: flex;
  padding: 0.5rem 1rem;
  max-width: var(--max-width);
  border-bottom: 1px solid var(--border1);
  width: 90%;
}

.date-request-left {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.date-request-pfp {
  background-color: var(--image-background-alt);
  width: 47px;
  height: 47px;
  border-radius: 20px;
  overflow: hidden;
}

.date-request-middle {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.date-request-name {
  font-size: 20px;
  color: var(--text-main);
  font-weight: 500;
  margin-bottom: 3%;
}

.date-request-age {
  color: var(--text-secondary);
  font-weight: bold;
  margin-bottom: 3%;
}

.date-request-description {
  color: var(--text-main2);
  line-clamp: 2;
  -webkit-line-clamp: 2;
  font-size: 1rem;
  height: 3em;
  width: 100%;
}

.date-request-buttons-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: 5em;
  margin-left: 1.2rem;
}

.date-request-button {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--text-main);
}

.date-request-reject {
  margin-right: 1.2rem;
  background-color: #fcddec;
}

.date-request-accept {
  background-color: var(--pink);
}

.date-request-accept svg {
  font-size: 1em;
  color: var(--text-main);
  font-weight: bolder;
}

.date-request-reject svg {
  font-size: 1em;
  color: var(--pink);
  font-weight: bolder;
}
