/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
  --dark-pink: #553344;
  --pink: #e3054b;
  --light-pink: #e34e69;
  --gray-blue: #ccccdd;
  --blue: #6699aa;
  --blue-disabled: #e7e8e9a2;
  --black: #0d0c10;
  --dark-gray: #1b191f;
  --dark-gray-alt: #1d1c22;
  --gray: #59565f;
  --light-gray: #98989d;
  --white-alt: #dcdce7;
  --white: #fff;
  --max-width: 450px;
  --disabled-bg: #f77694;
  --header-height: 8vh;
  --toastify-color-dark: var(--dark-gray) !important;
}

.dark-theme {
  --background: var(--black);
  --input-background: var(--dark-gray);
  --text-main: var(--white);
  --text-main2: var(--white-alt);
  --text-secondary: var(--light-gray);
  --header-background: var(--dark-gray-alt);
  --image-background: var(--dark-gray);
  --image-background-alt: var(--gray);
  --nav-item-color: var(--light-gray);
  --library-item-background: var(--dark-gray-alt);
  --date-request-item-bg: var(--dark-gray);
  --border1: #4c4a50b9;
  --message-background-alt: var(--dark-gray);
  --sending: var(--light-gray);
  --profile-container-bg: var(--dark-gray-alt);
  --banner-background: var(--dark-gray);
  --input-text-color: var(--light-gray);
  --modal-background: var(--dark-gray-alt)
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: var(--background);
  overflow-x: hidden;
}
.Toastify__toast-icon {
  min-width: 20px;
  max-width: 50px;
  width: auto !important;
}

.Toastify__toast-icon svg {
  width: 20px;
}

input,
select,
textarea {
  -webkit-appearance: none;
  border: none;
  color: var(--text-main);
}
textarea:focus,
:active select:focus,
:active,
input:focus,
:active {
  outline: none;
  border: none;
}

input::-webkit-input-placeholder {
  font-weight: bold;
}

input::-moz-placeholder {
  font-weight: bold;
}

input:-ms-input-placeholder {
  font-weight: bold;
}

input::-ms-input-placeholder {
  font-weight: bold;
}

input::placeholder {
  font-weight: bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-background) inset !important;
  border: none;
  outline: none;
  -webkit-text-fill-color: var(--text-main);
}

a {
  text-decoration: none;
  color: var(--text-main2);
}

.full-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
}

.ellipsis-clamp {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.full {
  display: flex;
  height: 100vh;
  width: 100%;
}

.error-page {
  justify-content: center;
  align-items: center;
}

.error-page h1 {
  color: var(--text-main);
}

.alert-icon {
  background-color: #ff3737;
  position: absolute;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 100%;
  z-index: 100;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  min-height: 100vh;
  min-width: 100vw;
  backdrop-filter: blur(5px);
}

.active {
  scroll-snap-type: unset;
}
