.date-page {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.date-page-item {
  display: flex;
  height: 5rem;
  width: 100%;
  max-width: var(--max-width);
}

.date-page-item-left {
  height: 100%;
  width: 5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.date-page-item-pfp {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: var(--image-background-alt);
  overflow: hidden;
}

.date-page-item-right {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 70%;
  padding-top: 1rem;
}
.date-page-item-name {
  flex: 1;
  align-items: center;
  color: var(--text-main2);
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
}
.date-page-item-message {
  flex: 1;
  align-items: center;
  color: var(--text-secondary);
  font-weight: 600;
  width: 100%;
}

.date-page-item-active .date-page-item-name,
.date-page-item-active .date-page-item-message {
  color: var(--text-main);
}

.active-icon {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: #28c91a;
  border-radius: 100%;
  border: 2px solid var(--background);
  bottom: 20%;
  right: 20%;
}

.date-page-container {
  padding-bottom: 9vh;
}
