.notifications-container {
    display: flex;
    flex-direction: column;
}

.notification-component {
    display: flex;
    padding: 20px 20px;
}

.notification-left {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-pfp {
    height: 50px;
    width: 50px;
    background-color: var(--image-background);
    overflow: hidden;
    border-radius: 100%;
}

.notification-middle {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.notification-username {
    color: var(--text-main);
    font-weight: 500;
}

.notification-text {
    color: var(--text-main);
}

.notification-right {
    display: flex;
    padding-left: 10px;
}

.notification-button {
    padding: 0em 0.5em;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main);
    font-weight: 900;
    background-color: var(--light-pink);
    border-radius: 10px;
    cursor: pointer;
}

.notification-time {
    color: var(--text-secondary);
}

.notification-content-container {
    height: 50px;
    width: 50px;
    overflow: hidden;
}