.pictures-page {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 9vh);
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.pictures-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
