.container-with-header {
  display: flex;
  flex-direction: column;
}

.main-header {
  width: 100%;
  height: 12vh;
  background-color: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 20;
}

.main-header span {
  color: var(--text-main);
  font-weight: bold;
  font-size: 1.2rem;
}

.main-header .back-arrow-container {
  color: var(--text-main);
  position: absolute;
  left: 2%;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
}
