#auth-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3% 5%;
  height: 100vh;
}

.auth-page-header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-page-header h2 {
  font-size: 2.3rem;
  color: var(--text-main);
  text-align: center;
  font-weight: bold;
}

.form-input-container {
  width: 100%;
  max-width: 600px;
  min-height: 8vh;
  background: var(--input-background);
  border-radius: 10px;
  display: flex;
  margin: 11px 0;
  justify-content: center;
  align-items: center;
}

.no-margin {
  margin-top: 0 !important;
  margin: 11px 0 !important;
}

.form-input-icon-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  background: transparent;
  border: none;
  width: 85%;
  font-size: 1rem;
}
.form-text-area {
  resize: none;
  height: 20vh;
  padding-top: 3%;
}
.form-input-icon-container svg {
  color: var(--text-secondary);
}

.form-submit {
  width: 100%;
  height: 8vh;
  border-radius: 10px;
  margin-top: 100px;
  background-color: var(--pink);
  max-width: 600px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.form-submit-disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  background: var(--disabled-bg);
  color: white;
}

select.form-input option {
  background: var(--input-background);
  border: none;
  outline: none;
}
