.explore-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 15vh;
}

.explore-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 20px;
}

.explore-container-header {
    padding: 20px 0;
}

.explore-container-header h1 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-main);
}

.explore-cards-container {
    display: grid;
    grid-template-columns: 41.07vw 41.07vw;
    grid-gap: 20px;
}

.explore-card {
    display: flex;
    height: 250px;
    background-color: var(--explore-card-background);
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden
}

.explore-card-image-container {
    height: 75%;
    background-color: var(--explore-card-image);
}

.explore-card-main-container {
    flex: 1;
    display: flex;
    margin-top: 5px;
    padding: 5px 10px;
}

.explore-card-username {
    color: var(--text-main);
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 0.95rem;
}

.explore-card-age {
    color: var(--text-main2);
    font-size: 0.8rem;
}

.explore-nav {
    padding: 20px;
    display: flex;
    width: 100%;
}

.explore-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--explore-nav-item-bg);
    color: #fff;
    padding: 5px;
    width: 110px;
    border-radius: 10px;
    margin-right: 10px;
}

.explore-nav-item-active {
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 5px;
    width: 110px;
    border-radius: 10px;
    margin-right: 10px;
}